 <div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo" id="headerLogo">Mongo Scraper</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="waves-effect waves-light btn" id="new-articles">Add New Odd Articles!</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn" id="clear-articles">Clear Articles!</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
            </ul>
        </div>
    </nav>
    <img src="https://static1.squarespace.com/static/52eec360e4b0c81c80749630/t/53cd83dbe4b09390906375c9/1408402670660/newspapers.jpg"
        alt="Notebook" style="width:100%;">
    <div class="content">
        <h1>Mongo Scraper</h1>
        <h3>Odd News</h3>
    </div>
</div>
<div class="container articles">
        <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo center" id="footer">You have not added any articles!</a>
                </div>
            </nav>

    
    <table id="results">
        <thead>
        <tr>
          <th id="article-title">Article Title</th>
          <th id="description">Description</th>
        </tr>
      </thead> 
        <tbody id ="homePage">
            <!-- Results from DB here -->
        </tbody>
    </table>
  
</div>
